<form #f="ngForm" (ngSubmit)="submit(f)"> 

<div class="form-group">
<label  for="firstName">First Name</label>
<!-- 
  required
minlength="3"
maxlength="10"

 <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First name not valid</div>
 <div class="alert alert-danger" *ngIf="firstName.errors.required">First name required</div>
 <div class="alert alert-danger" *ngIf="firstName.errors.minlength">min length 3</div>
 <div class="alert alert-danger" *ngIf="firstName.errors.maxlength">max length 10</div>
 <div class="alert alert-danger" *ngIf="firstName.errors.pattern">java must be there</div>
-->
<input 

   ngModel 
   name="firstName"
    id="firstName" 
 #firstName="ngModel" 
 (change)="log(firstName)"
  type="text" 
  class="form-control">

</div>


<div class="form-group">
    <label  for="lastName">Last Name</label>
    <input   ngModel  name="lastName"  id="lastName" #lastName="ngModel"
     type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">Last name not valid</div>
  </div>

  <div class="checkbox">
      <label>
      <input ngModel  name="thisIsCheckbox"  type="checkbox">Subscribe
      </label>
    </div>

    <div class="form-group">
        <label  for="Contact">
          <select ngModel name="Contact" class="form-control">
            <option *ngFor="let x of Contact" [value]="x.id">{{x.name}} </option>

          </select>
        </label>
         </div>

         <div class="radio">
            <label *ngFor="let x of Contact"  class="radio">
              <input type="radio"  name="Contact" [value]="x.id">
              {{x.name}} 
            </label>
             </div>

div.form-control>label[for=""]+select[id="Contact"].form-control     
<p>
  {{f.value| json}}
</p>

    <button class="btn btn-primary" [disabled]="!f.valid" >Submit</button>

</form>