<h1>Welcome to {{post.title}}</h1>

<h3>---------------------Directive---------------------</h3>
<div *ngIf="course.length>0">
<h4>List > 0  *ngIf="course.length>0</h4>
</div>

<div *ngIf="course.length>0; then yes else no"></div>
<ng-template #yes>
    <h4>List > 0  *ngIf="course.length>0; then yes else no"</h4>
</ng-template>
<ng-template #no>
    <h4>List == 0</h4>
</ng-template>

<div [hidden]="course.length>0">
    <h4>List == 0</h4>
 </div>
 <br><br><br>

 <ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode ='map'">Map View       .</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode ='list'">List View     .</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Control</div>
    <div *ngSwitchCase="'list'">List View Control</div>
</div>


<br><br><br><br><br><br><br><br>

<courses></courses>  Calling courses.compoment.ts
<favorite></favorite>