<h1>Welcome to {{post.title}}</h1>

<h3>---------------------Directive---------------------</h3>
<div *ngIf="course.length>0">
<h4>List > 0  *ngIf="course.length>0</h4>
</div>

<div *ngIf="course.length>0; then yes else no"></div>
<ng-template #yes>
    <h4>List > 0  *ngIf="course.length>0; then yes else no"</h4>
</ng-template>
<ng-template #no>
    <h4>List == 0</h4>
</ng-template>

<div [hidden]="course.length>0">
    <h4>List == 0</h4>
 </div>



<br><br><br><br><br><br><br><br>
<h3>---------------------Basic---------------------</h3>
<courses></courses>  Calling courses.compoment.ts
<favorite></favorite>